<!DOCTYPE html>
<html lang="en">
<head>
<title>BMI</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<link rel="icon" href="assets/images/favicon.ico">
<link rel="shortcut icon" href="assets/images/favicon.ico" />
<link rel="stylesheet" href="assets/assets/css/stuck.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/touchTouch.css">
<link rel="stylesheet" href="assets/css/form.css">
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery-migrate-1.1.1.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/superfish.js"></script>
<script src="assets/js/jquery.equalheights.js"></script>
<script src="assets/js/jquery.mobilemenu.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/tmStickUp.js"></script>
<script src="assets/js/jquery.ui.totop.js"></script>
<script src="assets/js/touchTouch.jquery.js"></script>

<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  });
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/assets/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="assets/js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="assets/css/ie.css">


<![endif]-->
</head>

<body>
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
<section id="stuck_container">
  <div class="container">
    <div class="row">
      <div class="grid_12">
      <h1>
        <a href="@routes.HomeController.homepage">

            <img src="assets/images/bmi.png" width="120" height="100" alt="Logo alt">
        </a>
      </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <li><a href="@routes.HomeController.homepage">HOME</a></li>
             <li><a href="@routes.HomeController.menu">MENU</a></li>
             <li  class="current"><a href="@routes.HomeController.BMI">BMI</a></li>
             <li ><a href="@routes.HomeController.BMR">BMR</a></li>

           </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</section>
</header>


<!--=====================
          Content
======================-->
<section class="content gallery pad1"><div class="ic">More Website Templates TemplateMonster.com - July 30, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_6">
          <img src="assets/images/bmical.jpg" alt="Logo alt">
      </div>
      <div class="grid_6">
        <form class="fbt" name="bmiForm" id="form input" >
            <center>
              <table>
                <tr>
                  <td width=150px><span class="intable">Your Weight(kg)</td>
                  <td><input class="textbox" id="weight" type="text" name="weight" size="7"></h3></td>
                <tr>
                  <td><span class="intable">Your Height(cm)</td>
                  <td><input class="textbox" id="height" type="text" name="height" size="7"></td>

                </tr>
                <tr>
                  <td colspan="2"><center><input class="btn" type="button" value="Calculate" onClick="calculate()"></td>
                <tr>
                  <td><span class="intable">&nbsp;</td>
                  <td></td>
                <tr>
                  <td><span class="intable">Your BMI</td>
                  <td><input class="textbox" type="text" name="bmi" size="10"></td>
                <tr>
                  <td><span class="intable">This Means</td>
                  <td><input class="textbox" type="text" name="meaning" size="25"></td>
                </tr>
              </table>
            </center>
            </form>
          </div>

  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">

        <div class="copyright"><span class="brand">JAVA Project Play#2 </span> &copy; <span id="copyright-year"></span> | UBON RATCHATHANI UNIVERSITY
          <div>Website designed by | Pawinee Purachanai & Kittipong sudcha
          </div>
          <div>THANK. <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script language="JavaScript">
        <!--
        function calculate() {
            var weight = document.bmiForm.weight.value
            var height = document.bmiForm.height.value
                if(weight > 0 && height > 0){
                  var finalBmi = weight/(height/100*height/100)
                  document.bmiForm.bmi.value = finalBmi
                if(finalBmi < 18.5){
                  document.bmiForm.meaning.value = "That you are too thin."
                }if(finalBmi > 18.5 && finalBmi < 25){
            document.bmiForm.meaning.value = "That you are healthy."
            }
            if(finalBmi > 25){
            document.bmiForm.meaning.value = "That you have overweight."

            }
            }
            else{
            alert("Please Fill in everything correctly")
            }

        	 var age = document.bmiForm.age.value;
           var activity = document.bmiForm.activity.value;
        	 var sex = document.bmiForm.sex.value;

        	 var intage = parseInt(age);
           var intactivity = parseFloat(activity);


             if(sex==0){
        	   	  var BMR = 66+(13.7*weight)+(5*height)-(6.8*intage);
                var ans = (intactivity*BMR);
                var cell = Math.ceil(ans);
                document.bmiForm.bmr.value = cell;
        	   }else if(sex==1){
                var BMR = 665+(9.6*weight)+(1.8*height)-(4.7*intage);
                var ans = (intactivity*BMR);
                var cell = Math.ceil(ans);
                document.bmiForm.bmr.value = cell;
        	   }


        }
        </script>
</body>
</html>
